@media(max-width: 1024px) {

  .home__img-frame,
  .fgewjli {
    display: none;
  }

  .home__wrapper {
    justify-content: center;
    text-align: center;
  }

  .framer-m8bJE {
    margin-top: 45px;
  }

  .fast__inner,
  .trust__inner {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .investment__inner {
    flex-direction: column-reverse;
  }

  .gap {
    row-gap: 40px;
  }

  .menu-list,
  .head-main,
  .getstarted__frame,
  .header-main {
    flex-direction: column;
    align-items: flex-start;
  }

  .mobail__popap {
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 0px 16px 24px;
    background-color: #1E1F25;
  }

  .menu-list {
    row-gap: 34px;
    margin-top: 30px;


  }
}

@media(max-width: 768px) {
  .content {
    width: 350px;
  }

  .button__primary,
  .frame-center {
    width: 100%;
  }

  .frame__bts {
    flex-direction: column;
  }

  .fast-content {
    font-size: 1rem;
  }

  .frame__vector-elips {
    width: 64px;
    height: 64px;
  }

  .frame__vector-elips svg {
    width: 2rem;
  }

  .footer__copyrigth-block {
    flex-direction: column-reverse;
    text-align: center;
  }

}

.title-block {
  display: none;
}

@media(min-width: 360px) {
  .title {
    color: #ffff;
    font-family: NeueMachina-Bold;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    padding-bottom: 1rem;
  }

  .title-block {
    display: block;
    text-align: center;
  }

  .investment__content {
    display: none;
  }

  .hidden-desc {
    padding-bottom: 1rem;
  }

  header {
    padding: 0 1rem;
  }

  .header__burger-menu {
    align-self: flex-start;
    margin-top: 8px;
  }

  .header-main {
    row-gap: 34px;
  }

}

.slider-center .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.container__subscription {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 1rem;
}

.red {
  color: #FA2256 !important;
}